* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(230, 230, 230);
}

header {
    background-color: orange;
    display: flex;
    justify-content: center;


}

.main_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 70%;
}

.mt_20 {
    margin-top: 20px;

}

div_foto {
    display: flex;

}

mr_0 {
    margin: 0px;
}