* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(230, 230, 230);
}

header {
    background-color: orange;
    display: flex;
    justify-content: center;


}
.father_main{
    width: 70%;
    margin: auto;
}
.width{
    width: 70%;
}
.main_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.gap_f_10 {
   gap: 10px; 
     
}

.center_flex{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.mt_20 {
    margin-top: 20px;
}
.border {
    border: 1px solid rgb(200, 196, 196);
}

